.nav {
  padding-left: 2%;
  padding-right: 2%;
  position: sticky;
  font-size: 15px;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;

  &__logo {
    all: unset;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #536e6f;
  }
  &__logo:hover {
    color: #314042;
  }

}

.nav-logout__btn {
  background-color: transparent;
  border: none;
  letter-spacing: 1px;
  font-size: 18px;
  color: #536e6f;
}
.nav-logout__btn:hover {
  cursor: pointer;
  color: #314042;
}

