.nav {
  padding-left: 2%;
  padding-right: 2%;
  position: sticky;
  font-size: 15px;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__logo {
    all: unset;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #5C7B7D;
  }
}

.nav-logout__btn {
  background-color: transparent;
  border: none;
  letter-spacing: 1px;
  font-size: 18px;
  color: #5C7B7D;
}
.nav-logout__btn:hover {
  cursor: pointer;
}

