.login-form__input {
  display: flex;
  flex-direction: column;
}

.login-form__input {
   margin-top: 2rem;
    max-width: 13rem;
    color: black;
    font-size: 16px;
    letter-spacing: .6px;
    background: none;
    font-weight: 300;
    border: .2px solid black;
    padding: .2rem;
    caret-color: black;
    margin-bottom: 1rem;
    transition: all 0.25s;
}

.login-form__input::placeholder {
    opacity: .9;
    font-weight: 200;
}

.login-form__input:focus {
    padding: .2rem;
    outline: none;
    font-weight: 200;
}

.login-form__input:hover {
    background-color: rgba(255, 255, 255, 0.058);
}

.hidden {
  display: none;
}
